<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BUCKSHOT Farms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/bootstrap-responsive.css" rel="stylesheet">
    <link href="./js/colorbox/colorbox.css" rel="stylesheet">
    <link href="./css/custom.css" rel="stylesheet">
    <link href="./css/social.css" rel="stylesheet">
</head>

<body class="homepage">
    <div class="navbar navbar-static-top">
        <div class="container">
             <div class="navbar-inner">
                <ul class="nav pull-right" id="mobile_navi">
                    <li><a href="#" title="Show me menu">MENU <img src="./img/s.gif" alt="V"></a></li>
                </ul>
                <ul class="nav pull-right" id="top_navi">
                   <li><a href="about-us.html">ABOUT US</a></li>
                    <li><a href="were-dun.html">WERE DUN</a></li>
                    <li><a href="sale-horse.html">HORSES FOR SALE</a></li>
                    <li><a href="news.html">NEWS</a></li>
                    <li class="last"><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>

            <div id="logo">
                <a href="/" title=""><img src="./img/logo.png" alt="" /></a>
            </div>
        </div>
    </div>

    <div class="container" id="home_carousel_container">
        <div id="home_carousel" class="carousel slide" data-interval="900">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item"><img src="./img/slider_1.jpg" alt=""></div>
                <div class="item"><img src="./img/slider_2.jpg" alt=""></div>
                <div class="item"><img src="./img/slider_3.jpg" alt=""></div>
                <div class="item"><img src="./img/slider_4.jpg" alt=""></div>
                <div class="item"><img src="./img/slider_5.jpg" alt=""></div>
                <div class="item"><img src="./img/slider_6.jpg" alt=""></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#home_carousel" data-slide="prev"><img src="./img/arrow_left.png" alt=""></a>
            <a class="carousel-control right" href="#home_carousel" data-slide="next"><img src="./img/arrow_right.png" alt=""></a>
        </div>
    </div>

    <div class="container" id="content">
        <div class="sub_header_home">
            <h1 class="sancreek">WELCOME TO BUCKSHOT FARMS</h1>
        </div>

        <div class="row-fluid">
            <div class="span8">
               <p>At Buckshot Farms, you will find well bred, talented horses.

<p>We have been breeding and showing for nearly 30 years and have refined our herd to include some of the Arabian industry's finest performers and producers in the performance arena.  In recent years, we have started to  also breed and show American Quarter Horses, focused on National Reining Horse Association competition. </p>

<p>Our commitment to the highest level of care, upbringing, and training of our horses starts them on their paths of success.   We invite you to browse our website, learn more about our farm, horses, staff, and our AQHA stallion, Were Dun, one of the country's leading sires of Half Arabians.</p>
            </div>
            <div class="span4" id="latest_news">
                <h2><a href="./news.html">Latest News</a></h2>
    
                <div class="latest_news">
                    <!-- Facebook BEGIN -->
                    <ul id="facebook_short" data-limit="3">
                        <li class="loading"><img src="img/ajax-loader-small.gif" alt="Loading ..." width="24" height="24"><br>Loading news…</li>
                    </ul>
                    <!-- Facebook END -->

                    <!--div class="latest_news_item clearfix">
                        <a href="./news.html" title="" class="pull-left">
                            <img src="./img/latest_news/latest_news_1.jpg" alt="" class="img-polaroid">
                        </a>

                        <small>Posted on June 8</small>
                        <p><a href="./news.html" title="">Scimaron and Sigourney... open western champs!</a></p>
                    </div>
                    <div class="latest_news_item clearfix">
                        <a href="./news.html" title="" class="pull-left">
                            <img src="./img/latest_news/latest_news_2.jpg" alt="" class="img-polaroid">
                        </a>

                        <small>Posted on June 8</small>
                        <p><a href="./news.html" title="">So proud of Reagan, top five in hunter pleasure. Way to go!!!!</a></p>
                    </div>
                    <div class="latest_news_item clearfix">
                        <a href="./news.html" title="" class="pull-left">
                            <img src="./img/latest_news/latest_news_3.jpg" alt="" class="img-polaroid">
                        </a>

                        <small>Posted on June 8</small>
                        <p><a href="./news.html" title="">The champ! Region 8 champion walk trot western pleasure!</a></p>
                    </div-->
                </div> <!--// .latest_news -->
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="span10 box" id="footer_menu">
                <ul class="footer_links">

                  <li><a href="about-us.html">About Us</a></li>
                        <li><a href="were-dun.html">Were Dun</a></li>
                        <li><a href="sale-horse.html">Horses For Sale</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>

                </ul>
            </div>

            <div class="span10">
                <div class="footer_lines"></div>
            </div>

            <div class="span10 text-center">
                <p>4100 Saltillo Road  I  Roca, NE 68430  I  402.434.5450  I  info@buckshotfarms.com</p>
                <p class="small">&copy; 2013 Buckshot Farms - Designed by <a href="" title="">ArabHorse.com</a></p>
            </div>
        </div>
    </div>

    <script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/colorbox/jquery.colorbox-min.js"></script>
    <script src="./js/hju.js"></script>

    <script src="./js/jquery.autolink.js"></script>
    <script src="./js/jquery.timeago.js"></script>
    <script src="./js/jquery.tmpl.js"></script>
    <script src="./js/twitter-text.js"></script>
    <script src="./js/social.js"></script>
    <script src="./js/masonry.pkgd.min.js"></script>
    <script src="./js/jquery.imagesloaded.min.js"></script>

    <script id="facebook_short_template" type="text/x-jquery-tmpl">
      {{if type != "status" || typeof message != "undefined" || typeof caption != "undefined" }}
      <li class="latest_news_item clearfix">
        {{if picture}}
            <a href="${link}" target="_blank" class="pull-left"><img alt="picture" src="${Social.facebookPictureURL(picture)}" class="img-polaroid"></a>
        {{/if}}
        <small>Posted <span class="fb_date">${created_time}</span></small>
        {{if message}}
            <p><a href="${link}" target="_blank" title="">{{html message}}</a></p>
        {{/if}}
        {{if caption}}
            <p><a href="${link}" target="_blank" title="">{{html caption}}</a></p>
        {{/if}}
      </li>
      {{/if}}
    </script>
    <script>
        // "103882419703669" is Facebook page ID
        // "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck" is Facebook authentication token
        Social.facebook("176971642349584", "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck");
    </script>
  </body>
</html>
